<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.pitest.pitclipse.target.neon">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.7.0.v20170515-1617"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.2.v20171130-0906"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.2.v20171130-0510"/>
<unit id="org.eclipse.sdk.feature.group" version="4.7.2.v20171130-0906"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
			<unit id="com.google.guava.source" version="21.0.0.v20170206-1425"/>
			<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
			<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
			<unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
			<unit id="org.jmock" version="1.2.0.v201303080310"/>
			<unit id="org.junit" version="4.12.0.v201504281640"/>
			<unit id="org.junit.jupiter.api" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.jupiter.api.source" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.jupiter.engine" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.jupiter.engine.source" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.jupiter.migrationsupport" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.jupiter.migrationsupport.source" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.jupiter.params" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.jupiter.params.source" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.commons" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.commons.source" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.engine" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.engine.source" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.launcher" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.launcher.source" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.runner" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.runner.source" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.suite.api" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.platform.suite.api.source" version="1.1.0.v20180327-1502"/>
			<unit id="org.junit.source" version="4.12.0.v201504281640"/>
			<unit id="org.junit.vintage.engine" version="5.1.0.v20180327-1502"/>
			<unit id="org.junit.vintage.engine.source" version="5.1.0.v20180327-1502"/>
			<unit id="org.mockito" version="1.9.5.v201605172210"/>
			<unit id="org.mockito.source" version="1.9.5.v201605172210"/>
			<unit id="org.objenesis" version="1.0.0.v201505121915"/>
			<unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
			<unit id="org.slf4j.apis.log4j" version="1.7.10.v20160208-0839"/>
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository"/>
			<unit id="org.mockito" version="2.13.0.v20180426-1843"/>
			<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
			<unit id="org.hamcrest.generator" version="1.3.0.v201305210900"/>
			<unit id="org.hamcrest.generator.source" version="1.3.0.v201305210900"/>
			<unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>
			<unit id="org.hamcrest.integration.source" version="1.3.0.v201305210900"/>
			<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
			<unit id="org.hamcrest.library.source" version="1.3.0.v20180524-2246"/>
			<unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
			<unit id="org.hamcrest.text.source" version="1.1.0.v20090501071000"/>
		</location>
    	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
        	<repository location="http://download.eclipse.org/technology/swtbot/releases/2.7.0"/>
        	<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.7.0.201806111355"/>
        	<unit id="org.eclipse.swtbot.feature.group" version="2.7.0.201806111355"/>
    	</location>
	</locations>
</target>