<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.pitest.pitclipse.preferences.ui.PitPreferencePage"
           id="org.pitest.pitclipse.preferences.ui.PitPreferencePage"
           name="Pitest">
     </page>
     <page 
         id="org.pitest.pitclipse.core.preferences.PitMutatorsPreferencePage" 
         name="Mutators" 
         class="org.pitest.pitclipse.preferences.ui.PitMutatorsPreferencePage" 
         category="org.pitest.pitclipse.preferences.ui.PitPreferencePage"> 
      </page> 
  </extension>
</plugin>
