<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.pitest.pitclipse.ui.view.PitView" name="Results" schema="schema/org.pitest.pitclipse.ui.view.PitView.exsd"/>
  <extension
      point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
      name="PIT Mutation Test"
      delegate="org.pitest.pitclipse.ui.launch.PITLaunchConfigurationDelegate"
      modes="run"               
      id="org.pitest.pitclipse.ui.mutationTest">        
    </launchConfigurationType>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/pit.gif"
        configTypeID="org.pitest.pitclipse.ui.mutationTest"
        id="org.pitest.pitclipse.ui.mutationTest.icon">
    </launchConfigurationTypeImage>
  </extension>
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
      id="org.pitest.pitclipse.ui.mutationTest.shortcut"
      class="org.pitest.pitclipse.ui.launch.PITLaunchShortcut"
      label="PIT Mutation Test"
      icon="icons/pit.gif"
      modes="run">
      <contextualLaunch>
        <contextLabel mode="run" label="PIT Mutation Test" />
        <enablement>
          
        </enablement>
       </contextualLaunch>
    </shortcut>
  </extension>
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
       type="org.pitest.pitclipse.ui.mutationTest"
       class="org.pitest.pitclipse.ui.launch.PITLaunchConfigurationTabGroup"
       id="org.pitest.pitclipse.ui.mutationTest.config">
    </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="org.pitest.pitclipse.ui.view.PITView"
          icon="icons/pit.gif"
          id="org.pitest.pitclipse-ui.PITView"
          name="PIT View"
          restorable="true"/>
  </extension>
</plugin>
