<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="org.pitest.pitclipse.core.results" name="PitResults" schema="schema/org.pitest.pitclipse.core.results.exsd"/>
  <extension-point id="org.pitest.pitclipse.core.mutations.results" name="PitMutationsResults" schema="schema/org.pitest.pitclipse.core.mutations.results.exsd"/>
  <extension-point id="org.pitest.pitclipse.core.executePit" name="PitExecutor" schema="schema/org.pitest.pitclipse.core.executePit.exsd"/>
  
  <extension
        point="org.pitest.pitclipse.core.executePit">
     <pit_options
           class="org.pitest.pitclipse.core.launch.PitExecutionNotifier">
     </pit_options>
  </extension>
  <extension
        point="org.pitest.pitclipse.core.results">
     <results
           class="org.pitest.pitclipse.core.result.MutationsModelNotifier"></results>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.pitest.pitclipse.core.preferences.PreferenceInitializer">
     </initializer>
  </extension>
</plugin>
