name: Java CI with Maven

on:
  push:
    paths-ignore:
     - 'README.md'
  pull_request:
    paths-ignore:
     - 'README.md'

jobs:
  build:
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        # Shallow clones should be disabled for a better relevancy of SonarQube analysis
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Install WebKit # required for SWT Browser
      run: |
        sudo apt update
        sudo apt install -y libwebkit2gtk-4.0-37
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: |
          ~/.m2
          ~/.sonar/cache
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml', '**/*.target') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Set Maven Additional Goals
      run: |
        echo "SONARGOAL=sonar:sonar" >> $GITHUB_ENV
      if: ${{ env.SONAR_TOKEN }}
    - name: Maven Build
      run: >
         xvfb-run mvn verify -Pjacoco $SONARGOAL
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Archive Test Results
      uses: actions/upload-artifact@v2
      if: ${{ failure() }} || ${{ cancelled() }}
      with:
        name: test-results-${{ runner.os }}
        path: '**/*.tests/target'
    - name: Archive UI Tests Screenshots
      uses: actions/upload-artifact@v2
      if: ${{ failure() }} || ${{ cancelled() }}
      with:
        name: screenshots-${{ runner.os }}
        path: '**/*.tests/screenshots'
